html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
  }

/*** iPhone and iOS Form Input Zoom Fixes ***/
/* Fix Input Zoom on devices older than iPhone 5: */
@media screen and (device-aspect-ratio: 2/3) {
    select, textarea, input[inputmode="decimal"], input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 5, 5C, 5S, iPod Touch 5g */
@media screen and (device-aspect-ratio: 40/71) {
    select, textarea, input[inputmode="decimal"], input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6, iPhone 6s, iPhone 7  */
@media screen and (device-aspect-ratio: 375/667) {
    select, textarea, input[type="text"], input[type="password"],
    input[type="datetime"], input[inputmode="decimal"], input[type="datetime-local"],
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}

/* Fix Input Zoom on iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8, iPhone X, XS, XS Max  */
@media screen and (device-aspect-ratio: 9/16) {
    select, textarea, input[inputmode="decimal"],input[type="text"], input[type="password"],
    input[type="datetime"], input[type="datetime-local"], 
    input[type="date"], input[type="month"], input[type="time"],
    input[type="week"], input[type="number"], input[type="email"],
    input[type="url"]{ font-size: 16px; }
}



body {
    margin : 0px;
}
#bet-form {
    float: left;
}
.buttonapp {
    -webkit-appearance: none;
    height: 40px;
    margin: 4px;
  }

  .button-inresult {
    -webkit-appearance: none;
    /* margin-left: 10px; */
    height: 100%;

}
.resultbuttons {

    height: 40px;

}

.resultbutton {

    height: 100%;

}
.button-inaction {
    -webkit-appearance: none;
    height:30px;
    width:50px;
    float: left;
}

.card {
    display: inline-block;
    margin: 0px 5px 0px 0px;
    height: 70px;
    width: 54px;
    border-radius: 5px;
    border: 2px solid #000;
    text-align: center;
    vertical-align: middle;
}

.displayed {
    background-color: #f6f6ff;


}

.hidden-for-others {

    background-color: #FFF0F0;

}

.hidden {
    background-color: #FFF0F0;


}

.usercontent {
    display: inline-block;
    width : 180px;
    margin-right: 5px;
}



.usercontainer {
    display: flex;
    /* margin-bottom: 10px; */
    padding: 10px 0px 10px 0px;
    height: 68px;

}

.userfocus {
    background-color: #6fd22857;
}

.firstline {
    height: 50%;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.secondline {
    height: 50%;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;

}

.username {
    float: left;
    font-size: 20px;
    margin: 5px;
}

.dealer {
    float: right;
    margin: 5px;
    font-size: 20px;

}

.fold {
    float: right;
    margin: 5px;
    font-size: 20px;
}

.bet {
    float: right;
    margin: 5px;
    font-size: 20px;

}

.left {
    
    width: 25%;
    height: 100%;
    float: left;
}

.right {
    width: 75%;
    height: 100%;
    float: right;
} 

.action {
    position: fixed;

bottom: 0;

background-color: #ffffffd9;

width: 320px;
border-left: 2px solid black;
border-right: 2px solid black;
border-bottom: 2px solid black;
border-top: 2px solid black;
padding: 5px
}


.footer {
    height: 40px;
margin-top: 60px;

text-align: center;
}

.result {
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.userfield {
    border-bottom: 2px solid black;

    height: 50px;
    
    /* padding-top: 15px; */
    
    /* padding-left: 10px; */
    
    font-size: 20px;
}


.name-inresult {
    margin-left: 10px;

}


.input-inresult {
    margin-left: 10px;

}
.gain-inresult {
    margin-left: 10px;

}



.deck {
    margin-top: 5px;
}

.gamecontainer {
    margin: 0 auto;
display: block;
width: 320px;
}

